@{
    ViewBag.Title = "Inicio";
    var productos = ViewBag.ProductosBajoStock as List<InverPaper.Dtos.ProductoDto>;
}

<style>
    .jumbotron {
        position: relative;
        background-color: #f8f9fa; /* fondo gris claro */
        overflow: hidden;
    }
</style>
<div class="jumbotron text-center">
    <h1 class="display-4">Bienvenido a InverPaper</h1>
    <p class="lead">Sistema de gestión para tu papelería</p>
    <hr class="my-4">
    <p>Administra productos, usuarios, ventas y más desde un solo lugar.</p>
    <button class="btn-naranja" onclick="window.location.href='@Url.Action("ReporteInventario", "Reporte")'">📄 Descargar Reporte de Inventario</button>


    @if (productos != null && productos.Count > 0)
    {
        <h2 class="mt-5">📉 Productos próximos a agotarse</h2>
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Stock Actual</th>
                    <th>Stock Mínimo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var producto in productos)
                {
                    <tr class="@(producto.StockActual == 0 ? "table-danger" : "table-warning")">
                        <td>@producto.Nombre</td>
                        <td>@producto.StockActual</td>
                        <td>@producto.StockMin</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-success mt-4" role="alert">
            ✅ No hay productos próximos a agotarse.
        </div>
    }
    @{
        Response.Cache.SetExpires(DateTime.UtcNow.AddDays(-1));
        Response.Cache.SetValidUntilExpires(false);
        Response.Cache.SetRevalidation(HttpCacheRevalidation.AllCaches);
        Response.Cache.SetCacheability(HttpCacheability.NoCache);
        Response.Cache.SetNoStore();
    }

    <style>
        .btn-naranja {
            background-color: #ff6600;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            font-family: 'Quicksand2', sans-serif;
            display: inline-block;
            border: none;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .btn-naranja:hover {
                background-color: #e65c00;
            }
    </style>


