@model IEnumerable<InverPaper.Dtos.LoteDto>
@{
    ViewBag.Title = "Lotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-striped mt-3">
    <thead class="thead-dark">
        <tr>
            <th>Numero</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio de Compra</th>
            <th>Fecha de Compra</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lote in Model)
        {
            <tr>
                <td>@lote.NumeroLote</td>
                <td>@lote.NombreProducto</td>
                <td>@lote.Cantidad</td>
                <td>@lote.PrecioCompra</td>
                <td>@lote.FechaIngreso.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
    <table>
        <button class="btn-naranja btn-sm" onclick="window.location.href='@Url.Action("Productos", "Producto")'">Volver</button>
