@model IEnumerable<InverPaper.Dtos.ProductoDto>
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-striped mt-3 table-fixed">
    <thead class="thead-dark">
        <tr>
            <th style="width: 12%;">Nombre</th>
            <th style="width: 20%;">Descripcion</th>
            <th style="width: 8%;">Stock Actual</th>
            <th style="width: 8%;">Precio</th>
            <th style="width: 15%;">Categoria</th>
            <th style="width: 10%;">Marca</th>
            <th style="width: 8%;">Estado</th>
            <th style="width: 20%;">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.Nombre</td>
                <td>@producto.Descripcion</td>
                <td>@producto.StockActual</td>
                <td>@producto.PrecioVenta</td>
                <td>@producto.NombreCategoria</td>
                <td>@producto.NombreMarca</td>
                <td>@producto.NombreEstado</td>
                <td>
                    <button class="btn btn-primary btn-sm" onclick="window.location.href='@Url.Action("Editar", "Producto", new { id = producto.Id })'">Editar</button> |
                    <button class="btn btn-danger btn-sm" onclick="confirmarEliminar(@producto.Id)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary btn-sm" onclick="window.location.href='@Url.Action("Crear", "Producto")'">Crear Producto</button>
<button class="btn btn-primary btn-sm" onclick="window.location.href='@Url.Action("Crear", "Lote")'">Crear Lote</button>
<button class="btn btn-primary btn-sm" onclick="window.location.href='@Url.Action("Lotes", "Lote")'">Ver Lotes</button>

<!-- Modal de Confirmación -->
<div class="modal fade" id="modalEliminarProducto" tabindex="-1" role="dialog" aria-labelledby="modalEliminarProductoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="modalEliminarProductoLabel">Confirmar Inactivacion</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Este producto no se eliminara solo se inactivara
                ¿Estás seguro de que deseas inactivar este producto?
            </div>
            <div class="modal-footer">
                <!-- Botón de Cancelar con JavaScript para cerrar el modal y redirigir -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.href='@Url.Action("Productos", "Producto")'">Cancelar</button>
                @using (Html.BeginForm("Eliminar", "Producto", FormMethod.Post))
                {
                    @Html.Hidden("id", "", new { id = "productoIdEliminar" })
                    <button type="submit" class="btn btn-danger">Inactivar</button>
                }
            </div>
        </div>
    </div>
</div>
<style>
    .table-fixed {
        table-layout: fixed;
        width: 100%;
    }

        .table-fixed th, .table-fixed td {
            overflow-wrap: break-word;
            word-wrap: break-word;
            text-align: center;
            vertical-align: middle;
        }

    .btn-sm {
        padding: 0.25rem 0.5rem;
    }
</style>

<script>
    function confirmarEliminar(idProducto) {
        $('#productoIdEliminar').val(idProducto); // Pone el id en el hidden
        $('#modalEliminarProducto').modal('show'); // Abre el modal
    }
</script>


