@model InverPaper.Dtos.UsuarioDto
@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h2>¿Estás seguro de que deseas eliminar este usuario?</h2>

<div>
    <div>
        <p><strong>Nombre:</strong> @Model.Nombre</p>
        <p><strong>Apellido:</strong> @Model.Apellido</p>
        <p><strong>Correo:</strong> @Model.Correo</p>
        <p><strong>Rol:</strong> @Model.NombreRol</p>
        <p><strong>Estado:</strong> @Model.NombreEstado</p>
    </div>

    @using (Html.BeginForm("Eliminar", "Usuario", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        <button type="submit" class="btn btn-danger">Eliminar</button>
        @Html.ActionLink("Cancelar", "Usuarios", null, new { @class = "btn btn-secondary" })
    }
</div>