@model IEnumerable<InverPaper.Dtos.UsuarioDto>
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-striped mt-3">
    <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Nombre</td>
                <td>@usuario.Apellido</td>
                <td>@usuario.Correo</td>
                <td>@usuario.NombreRol</td>
                <td>@usuario.NombreEstado</td>
                <td>

                    <button class="btn btn-primary btn-sm" onclick="window.location.href='@Url.Action("Editar", "Usuario", new { id = usuario.Id })'">Editar</button> |
                    <button class="btn btn-danger btn-sm" onclick="confirmarEliminar(@usuario.Id)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn-naranja btn-sm" onclick="window.location.href='@Url.Action("Crear", "Usuario")'">Crear Usuario</button>

<!-- Modal de Confirmación -->
<div class="modal fade" id="modalEliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="modalEliminarUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="modalEliminarUsuarioLabel">Confirmar eliminación</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Este usuario no se eliminara solo se inactivara
                ¿Estás seguro de que deseas inactivar este usuario?
            </div>
            <div class="modal-footer">
                <!-- Botón de Cancelar con JavaScript para cerrar el modal y redirigir -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.href='@Url.Action("Usuarios", "Usuario")'">Cancelar</button>
                @using (Html.BeginForm("Eliminar", "Usuario", FormMethod.Post))
                {
                    @Html.Hidden("id", "", new { id = "usuarioIdEliminar" })
                    <button type="submit" class="btn btn-danger">Inactivar</button>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function confirmarEliminar(idUsuario) {
        $('#usuarioIdEliminar').val(idUsuario); // Pone el id en el hidden
        $('#modalEliminarUsuario').modal('show'); // Abre el modal
    }
</script>
